@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* { 
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    font-weight: 100;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container{
    display: flex;
    width: 90vw;
}

.panal{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    border-radius: 40px;
    color: rgb(143, 175, 202);
    margin: 10px;
    flex: 0.5;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panal h3{
    font-size: 40px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    margin: 0%;
    opacity: 0;
}

.panal.active{
    flex: 5;
}
.panal.active h3{
    opacity: 1;
}