@import url('https://fonts.googleapis.com/css?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

:root{
  --color-main: rgb(202, 226, 226);
  --color-sec: rgba(99, 124, 98, 0.432);
  --color-dark: rgba(99, 124, 98, 0.842)
}

body {
  font-family: 'Muli', sans-serif;
  background-color: var(--color-main);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  
}

.container{  
    width: 400px;
    position: relative;
    text-align: center;
}

.pro-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}
.circle{
  background-color: var(--color-main);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: var(--color-sec);
  border-width: 3px;
  border-style: solid;
  color: var(--color-sec);
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-line{
  position: absolute;
  top: 18px;
  z-index: -1;
  height: 4px;
  width: 100%;
  background-color: var(--color-sec);
}
.container::before{
  height: 2px;
  width: 10px;
  background-color: rgba(99, 124, 98, 0.842);
}

.act-line{
  position: absolute;
  top: 18px;
  z-index: -1;
  height: 4px;
  width: 33%;
  background-color: var(--color-dark);
}

button{
  width: 80px;
  height: 40px;
  border-radius: 15px;
  margin: 30px;
  border: 0px;
  background-color: var(--color-dark);
}

.disable{
  color: white;
  background-color: var(--color-sec);
}

